.block {
    position: relative;
}

form button {
    position: absolute;
    border-radius: 0 1rem 1rem 0;
    width: 90px;
}

form input {
    height: 43px;
    width: 190px;
    border-radius: 1rem 0 0 1rem;
    background-color: white;
    border: none;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
}

