.todo-item {
    display: flex;
    background-color: rgb(255, 255, 255);
    margin-top: 5px;
    border: none;
    border-radius: 1rem;
    width: 350px;
}

p {
    margin-top: auto;
    margin-left: 15px;
}

.btn-cmp {
    margin-left: auto;
}

.btn-list {
    border-radius: 0 1rem 1rem 0;
    margin-left: none;
    border: 1px 1px 0px 1px solid ;
}

.completed {
    display: flex;
    background-color: yellowgreen;
    margin-top: 5px;
    border: none;
    border-radius: 1rem;
    width: 350px;
    
}

.completed p {
    text-decoration:line-through
}





